<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=HelpTest.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="HelpTest.Properties.Settings.CnMedicineServerConnectionString"
      connectionString="Data Source=DESKTOP-AI1JMCB\SQLEXPRESS2016,31433;Initial Catalog=CnMedicineServer;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HelpTest.Properties.Settings.设置" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Git\CnMedicine\CnMedicine\CnMedicineServer\Content\;Extended Properties=&quot;Text;FMT=Delimited;HDR=YES;&quot;"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>